article  {
    background: lightgrey;
}

 body   {
      width: 95%;
      margin: 0 auto;
}

  header   {
      position: relative;
  }
header.class {
   background-color: white;
    text-align: left;
}

section > h1   {

    border-image-width: 95%;
    height: auto;
    color: black;
}

   header img {
        max-width: 100%;
       width: 100%;
        display: block;
       margin: 0 auto;
    border-top-width: 95px;
    border-right-width: 95px;
    border-left-width: 95px;
    border-bottom-width: 95px;
  }
.tekst-overlay {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 19px;
    font-weight: bold;
    font-family: Verdana sans-serif;
    color: #dddddd;
}
   header h1   {
       position: relative; /
       top: 50%;
       color: white;
   }
body > header > img   {
border-image-width: auto;
}

  nav {
      background-color: dimgrey;
  }

nav  > a  {
color:lawngreen;
}

Article > header > h1   {
    font-size: 20px;
    text-decoration: underline;
    margin-top: 10px;
    color: black;
}
