table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th {
    background-color: rgb(170, 170, 200);
    color: rgb(200, 190, 240);
    color: blue;

}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;

}

td:first-child {
    background-color: rgb(250, 120, 120);
}

td:nth-child(7n),
td:nth-child(7n+6) {
    background-color: rgb(255, 220, 220);
}

td {
    background-color: rgb(255, 255, 255);
}

td:last-child {
    background-color: rgb(200, 190, 240);
    color: rgb(35, 37, 70);
}
rgb(200, 190, 240);
/* Stijlen voor dagen voor de huidige maand en dagen na de huidige maand */
td:empty {
    background-color: grey;
}

/* Voeg deze regel toe om zaterdag en zondag in te kleuren */
td:nth-child(7n+1),
td:nth-child(7n) {
    background-color: rgb(250, 120, 120);
}

/* Voeg deze regel toe om de 16e dag in te kleuren */
td:nth-child(16) {
    background-color: rgb(250, 120, 120);
}

/* Voeg deze regel toe om vrijdag met een witte achtergrond te behouden */
td:nth-child(7n+5) {
    background-color: rgb(255, 255, 255);
}
/* Voeg deze regels toe om class "last-month" in grijs te zetten zonder achtergrondkleur */
td.last-month {
    background-color: lightgray;
    color: grey;
}

/* Voeg deze regels toe om class "next-month" in grijs te zetten zonder achtergrondkleur */
td.next-month {
    background-color: lightgray;
    color: grey;
}
