table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th.colspan  {
    background-color: rgb(170, 170, 200);
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.highlighted-day  {
    background-color: rgb(250,120,120);
}

td:nth-child(7n),
td:nth-child(7n+1)   {
    background-color: rgb(255, 220, 220);
}

th {
    background-color: rgb(200, 190, 240);
    color: rgb(35, 37, 70);
}

td:empty {
    background-color: grey;
}

td:nth-child(7n+5) {
    background-color: rgb(255, 255, 255);
}
td.last-month {
    background-color: lightgray;
    color: grey;
}
td.next-month {
    background-color: lightgray;
    color: grey;
}
